[2022-02-28 11:53] kanishak11-cyber opened #1 "Search bar is needed at navigation bar"

[2022-02-28 12:16] varunKT001 commented on #1
Hi @kanishak11-cyber, I'll be creating an Issue template for the repositories by tomorrow. I am closing this as of now.

[2022-02-28 12:16] #1 closed

[2022-03-01 03:56] codercool3r opened #2 "Bug: Spelling mistake"
**In the about page of the website, in the last line, it is given 'react' instead of 'reach'**

**I would like to modify it*

**'reach'**

![Screenshot from 2022-03-01 09-14-28](https://user-images.githubusercontent.com/91977735/156101884-8ce313b6-606a-4a60-8cf3-8a7ddf3f11e1.png)

**I would like to solve this issue under GSSOC'22 @varunKT001 **

[2022-03-01 04:21] varunKT001 commented on #2
Sharp eyes @codercool3r 👍
Since this project was added, at last, mentors' allotment and other stuff are still pending. Also, I'm yet to create the contribution guidelines and a setup guide.
Don't worry, I'll assign this issue to you, once things are on track 👍

PS: From next on, while creating an issue or pull request, make sure to strictly follow the provided templates. You can leave things blank

[2022-03-01 04:27] codercool3r commented on #2
Sure, I will make sure I follow the template
Thank you

[2022-03-01 05:42] Bhavya-Parikh opened #3 "Bug: No check for mobile number in checkout"
While checking out there is no check if mobile number is 10 digits or not this can be improved. Please assign the task so I can work on it.

[2022-03-01 06:05] varunKT001 commented on #3
Hey @Bhavya-Parikh 👋
Since this project was added, at last, mentors' allotment and other stuff are still pending. Also, I'm yet to create the contribution guidelines and a setup guide.
Don't worry, I'll assign this issue to you, once things are on track 👍

PS: From next on, while creating an issue or pull request, make sure to strictly follow the provided templates. You can leave things blank whic

[2022-03-01 06:49] sourav-912 opened #4 "Feature Request: Image box section as a link"
*Not working image box section as a link, I think if it will work, if it will work all over the box section as a link then it would more friendly.

[2022-03-01 07:02] varunKT001 commented on #4
Hey @sourav-912  👋
Since this project was added, at last, mentors' allotment and other stuff are still pending. Also, I'm yet to create the contribution guidelines and a setup guide.
Don't worry, we'll discuss this issue, once things are on track 👍

PS:
1. From next on, while creating an issue or pull request, make sure to strictly follow the provided templates. You can leave things blank which ar

[2022-03-01 07:19] Bhavya-Parikh commented on #3
Hey!
Okayy! No worries :)

Sure! Actually I am new to open source and dev and I was excited as I found this bug, Sorry for that. Can you please provide a example like how this can be written in template? I am not supposed to delete the other comments in template and leave them blank or correct me if I am wrong

[2022-03-01 07:32] varunKT001 commented on #3
First of all congrats on starting off with your opensource journey. And don't worry, I'll assign this issue to you 👍

You don't have to create the template. When you create a new issue or a pull request, you get a default template where you can fill in the details.

You can either delete or leave it blank, no issues. Just follow the pattern 👍

[2022-03-01 08:13] yogitasaini opened #5 "Authentication with Email"
Please assign this task to me

[2022-03-01 08:18] yogitasaini commented on #5
I just want to add  sign in with email feature for user convenience using firebase

[2022-03-01 09:28] varunKT001 commented on #5
Hey @yogitasaini 👋,
Actually, this is done on purpose. Everyone is not comfortable using a real Email while testing out projects. If you add email verification, people would need to add their real email addresses.
So, I'm sorry, we can't add this feature. Hope you got my point 😅.

PS:
From next on, while creating an issue or pull request, make sure to strictly follow the provided templates. You ca

[2022-03-01 09:28] #5 closed

[2022-03-01 13:17] varunKT001 commented on #2
Hey @codercool3r 👋,
Mentors allotment will take some time 😅
I'm assigning you the issue and you can work upon it 👍

[2022-03-01 13:19] varunKT001 commented on #3
Hey @Bhavya-Parikh 👋,
Mentors allotment will take some time 😅
I'm assigning you the issue and you can work upon it 👍
Make sure to follow the templates provided while making a PR 👍

[2022-03-01 13:19] codercool3r commented on #2
Sure
Thank you

[2022-03-01 13:35] varunKT001 opened #6 "Feature Request: Loading spinner when button is disabled"
**Is your feature request related to a problem? Please describe.**
Currently while loading, the then is disabled and its opacity is reduced:
![image](https://user-images.githubusercontent.com/83509023/156176989-7989da37-ad0f-49e0-8bda-895104d2a4e7.png)
Change it to something like this when loading:
![image](https://user-images.githubusercontent.com/83509023/156177140-ebb248b0-e791-498d-a68c-d017fe

[2022-03-01 13:55] Abhinav0909 commented on #6
@varunKT001 Hey,I have checked your isssue.So can you assign it to me

[2022-03-01 13:56] sagnik2001 commented on #6
Can I work this issue under GsSoc 22

[2022-03-01 13:56] sagnik2001 commented on #4
Can you assign this issue to me under GSsoc 22

[2022-03-01 13:58] sulogna2001 commented on #6
Hey Can you assign this issue under GSSOC22

[2022-03-01 13:59] sulogna2001 commented on #4
Hey Can you assign me this issue under GSSOC22

[2022-03-01 14:05] varunKT001 commented on #6
**Guys note that the issues will be given on a first come first serve basis.**

@Abhinav0909 is the first to claim the issue, so I'm gonna assign it to him 🚀

@sagnik2001 and @sulogna2001, I'll be creating more issues so stay tuned 🎉
Till then, you can also create some issues if you find something you can improve in TomperWear 😄

I'll also be creating a GitHub workflow to automatically assign the

[2022-03-01 14:09] varunKT001 commented on #6
@Abhinav0909 Make sure you read the [contribution guidelines](https://github.com/varunKT001/tomper-wear-ecommerce/blob/main/CONTRIBUTING.md) before contributing. Also, while making a pull request, make sure to strictly follow the provided pull request template 👍

[2022-03-01 15:32] codercool3r commented on #2
I am not sure if its an issue at my side, but I am unable to find any HTML or general code file that contains the content in the about page, can you help me out with this? I have checked the files in the repo.

[2022-03-01 15:51] varunKT001 commented on #2
Hi @codercool3r 👋,
From your query, I'm assuming you are not familiar with ReactJS. In ReactJS, instead of writing plain HTML, CSS, and JavaScript, we use something called components.

Also, I want to say 2 things:

- I guess you didn't read the documentation properly. It clearly mentioned that this project uses ReactJS. Please spend time reading the docs. It'll help you understand the project pro

[2022-03-01 16:18] #2 closed

[2022-03-01 17:15] varunKT001 opened #8 "Feature Request: Create a better footer"
### Is your feature request related to a problem? Please describe
The current footer is pretty basic:

![image](https://user-images.githubusercontent.com/83509023/156216623-a77c9b4c-b830-4d51-9301-c5dfa6c0064f.png)

Create a new footer strictly following the design provided.

**You have to follow this design:**

![Footer](https://user-images.githubusercontent.com/83509023/156213403-4efa4331-8f9b-4

[2022-03-01 17:35] Shubham29012001 commented on #8
Hey @varunKT001, I would like to work on this issue for GSoC'22.

[2022-03-01 17:41] sagnik2001 commented on #8
Hey @varunKT001  can I work on this issue under GSSOc 22

[2022-03-01 18:45] varunKT001 commented on #8
@Shubham29012001 Go ahead 🚀

@sagnik2001 I'll be creating more issues so stay tuned 🎉
Till then, you can also create some issues if you find something you can improve in TomperWear 😄

[2022-03-02 03:25] sagnik2001 opened #9 "Feature Request: Want to add Search functionality"
![Screenshot from 2022-03-02 08-53-08](https://user-images.githubusercontent.com/74464019/156289115-cac854a0-d428-4af6-97c4-f8d420261598.

[2022-03-02 03:27] sagnik2001 commented on #9
![Screenshot from 2022-03-02 08-53-08](https://user-images.githubusercontent.com/74464019/156289430-49782947-9cb3-4d40-839c-8dbdea4ad209.png)

[2022-03-02 07:15] sagnik2001 commented on #9
Okay,I follow the template and open the issue

[2022-03-02 07:30] #4 closed

[2022-03-02 09:07] singhkunal01 opened #10 "Feature Request: Add The Feature for Hide/Show Password."
**Is your feature request related to a problem? Please describe**

hey @varunKT001, what I am thinking is to add the hide/show feature in the password? What do you say? Let me Know.

**Describe the solution you thought**

Without any disturbance of full code, I will just small code for this by adding icons for both the options wherever you provided the feature of entering a password.

**Additional

[2022-03-02 13:49] sagnik2001 opened #11 "Bug: Search Bar Functionality To Filter Out Projects based on names"
### Describe the Bug

To add the search bar functionality to filter out products. In the sidebar, of the filter category, the search bar should allow users to search for products when there is a large number of products to avoid the tedious task of scrolling for their product.

### Steps to reproduce the behavior

On navigating to "/products" there is a search bar at the sidebar which at present m

[2022-03-02 13:58] varunKT001 commented on #11
Hey @sagnik2001 👋,
I have checked it, it's working if you type all lower case. But still, it's not the expected behavior. There is one more problem, when we type, it only matches the product names starting with the typed string.

You have to fix these two things:
- Filter products irrespective of case.
- Filter products if the search string is a substring of the product's name.

I'm assigning this

[2022-03-02 14:04] sagnik2001 commented on #11
Okay

[2022-03-02 15:39] singhkunal01 commented on #10
hey @varunKT001 sorry but i'm in newbie in react for now because i am learning it and this is a little bit bigger project in terms of codebase and yes I'm interested to work on this too but i request you to help me.

Till now i have found the login page and also i know the logic that how can i do this but i don't know that how and in which file i add that toggle feature ?

[2022-03-02 16:04] varunKT001 commented on #10
Hey @singhkunal01,
You can find the login and register pages at `src/pages/LoginPage/index.js` and `src/pages/RegisterPage/index.js`
And for writing the styles, you can go to the `src/pages/LoginPage/styles.js` and  `src/pages/RegisterPage/styles.js`

You have to implement the toggle feature in both the login and registers pages. Also, the majority of the code (and the styling) in both of them is

[2022-03-02 16:14] singhkunal01 commented on #10
- Thank @varunKT001 you but For this first i have to learn some more react so please tell me the time limit to do that so that i can do it accordingly.

- Also don't forgot to add the server link so that i can join ASAP.

[2022-03-02 16:27] sulogna2001 opened #12 "Adding liked products to wishlist"
Now the products are directly added to cart but if user likes the product he/she can add that to Wishlist.

[2022-03-02 16:34] varunKT001 commented on #10
At the moment, I have not decided on any time limit. I'll do it once the discord channel is created and the mentors are allotted. Till then, you can learn and implement it according to your own pace.
But I still recommend not taking much time. It's a small issue, and It won't require much time even if you have to learn in parallel.

I'll ping the contributors active on this project once the channe

[2022-03-02 16:49] singhkunal01 commented on #10
Okay @varunKT001 thank you so much sir.

[2022-03-02 17:08] varunKT001 commented on #12
It's a great idea @sulogna2001 👍,

Here is all you would need to do to complete this:

- Create context and a reducer for handling wishlist-related operations (you can get an idea about what to do by looking into the `src/context/cart_context.js` and `src/reducers/cart_reducer.js` files)

- Create a floating `heart` icon inside the product image. You can refer to [flipkart.com](https://www.flipkar

[2022-03-02 17:13] Siddhesh777 opened #13 "Feature Request: Add confirm password field"
**While registering it may happen that the user accidentally typed wrong password**

**We can add a Confirm password field**

![issue](https://user-images.githubusercontent.com/77476772/156412614-cfee5802-7d28-4196-a141-829a29be5392.png)

**I am gssoc'22 contributor.Please assign this task to me**

**Thank You**

[2022-03-02 18:03] Neha9849 opened #14 "Bug: Price range is not having a lower limit"
**Describe the bug**
I think it will be good if it also has a lower limit in price range while filtering, as users can choose their range according to their budget.
**Steps to reproduce the behavior**

**Expected behavior**
 It will have both lower and upper limit
**Screenshots (if applicable)**

**Additional context (if any)**

[2022-03-02 18:05] Neha9849 commented on #14
I would like to work on it .
Please assign it to me if you think this is appropriate.

[2022-03-02 21:17] MonarchGitHub opened #15 "Feature Request: Adding issue forms for the repo"
I want to add a few issue forms so that it will be convenient for new contributors to open issues. There are already issue templates for this project but they are deprecated now, issue forms instead work way better. I plan to create  **Bug Report** and **Feature Request** forms.

**_The Bug Report issue form will have the following fields_**

- **Description of the bug**
- **How to Reproduce**
- *

[2022-03-03 04:42] varunKT001 commented on #15
Hey @MonarchGitHub 👋,
It's a great idea, I was also thinking of making some issue forms as they will be more convenient 😅.
Now since you are here, you can go ahead 🚀

One suggestion:
- In the Feature request issue form, instead of `Describe alternatives you've considered` create `Additional context (if any)`.
Just like it is in the current Feature request issue template.
- Similarly, for the Bug r

[2022-03-03 04:48] Krish2208 commented on #3
I would like to contribute to this issue under GSSoC22

[2022-03-03 04:51] varunKT001 commented on #13
Hey @Siddhesh777 👋,
You can work upon it. But there is a small problem, someone is already working on the show/hide password feature. It may be possible that one of you may encounter some merge conflicts 😅.
I'm assigning you this, but try to not take much time on this, or one of you will have to suffer fixing the conflicts 😅

[2022-03-03 04:53] varunKT001 commented on #14
It's a great idea @Neha9849 👍
Go ahead 🚀

[2022-03-03 04:55] varunKT001 commented on #3
Hey @Krish2208 👋,
It's already assigned to @Bhavya-Parikh
If it gets un-assigned, I'll assign it to you 👍

[2022-03-03 04:57] varunKT001 commented on #3
Any updates @Bhavya-Parikh?
I don't think this bug should have taken much time 🙂
Try to do it fast or I have to un-assign you.

[2022-03-03 05:42] Bhavya-Parikh commented on #3
Sorry for the delay, Yeah i did fix the bug i feel but when i try to run the project using npm start it is loading a blank page in chrome, I was trying to fix the issue by googling, I reversed the changes i made, cloned the repo again followed all the steps of setup, installed firebase, updated npm but the issue seems to persists I am unable to know why.

I am attaching screenshots of errors from

[2022-03-03 05:55] varunKT001 commented on #3
You have to rename `.env.sample` file to `.env`
This is will fix the issue 👍

[2022-03-03 07:43] #11 closed

[2022-03-03 10:05] #3 closed

[2022-03-03 12:41] MonarchGitHub commented on #15
Yeah, that sounds great, I'll start right away.

[2022-03-03 13:27] varunKT001 commented on #6
@Abhinav0909 Any updates on this?

[2022-03-03 13:35] PM-00-STAR opened #20 "adding animation to home page"
**Describe the bug**

**Steps to reproduce the behavior**

**Expected behavior**

**Screenshots (if applicable)**

**Additional context (if any)**

[2022-03-03 13:36] #20 closed

[2022-03-03 13:37] PM-00-STAR opened #21 "Feature Request: adding animation to home page"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you thought**

**Additional context (if any)**

[2022-03-03 13:39] #21 closed

[2022-03-03 13:50] #15 closed

[2022-03-03 13:58] PM-00-STAR opened #22 "Feature Request: adding animation to homepage :"
I am a participant of GSSoC22 and request to add animation in buttons ,images and slides

[2022-03-03 14:02] #22 closed

[2022-03-03 14:14] varunKT001 commented on #6
@sagnik2001 sure 👍

[2022-03-03 18:52] varunKT001 commented on #8
@Shubham29012001 Any updates on this?
I don't think this should take much time. Try to complete it soon, or I'll need to re-assign it to someone else 😕

[2022-03-03 19:05] Abhinav0909 commented on #6
ok ,I will complete this issue by tommorow

[2022-03-03 19:08] Shubham29012001 commented on #8
Hey @varunKT001, sorry for the delay. I am working on it. It will be ready by tomorrow. Sorry for the delay.

[2022-03-04 04:37] varunKT001 commented on #8
@Shubham29012001 Great,
If you are actively working on it, there is no problem, you can take your time. I was just making sure that you are not inactive 😅

[2022-03-04 04:38] varunKT001 commented on #6
@Abhinav0909 Great 👍

[2022-03-04 09:08] Sameeksha7464 commented on #8
hey @varunKT001 can I work on this issue?
I'm looking for good first issues as I'm a beginner

[2022-03-04 09:34] varunKT001 commented on #8
Hey @Sameeksha7464 👋,
This issue is already assigned. I'll create some new issues soon, you can look into them. Also, if you find something which could be improved in TomperWear, you can create an issue and work upon it 👍

[2022-03-04 12:32] PM-00-STAR opened #24 "Feature Request: Adding hover effect on home page slides"
### Is your feature request related to a problem? Please describe.

Hey, I am a GSSoC22 contributor, would be glad to contribute in your project
It would look more dynamic if you allow me to add hover effect on these 3 slides

![WhatsApp Image 2022-03-04 at 17 59 42](https://user-images.githubusercontent.com/81418245/156763830-81c9854f-fdb5-42ef-a7ec-a1d6bd0f899d.jpg)

### Describe the solution yo

[2022-03-04 17:07] Shubham29012001 commented on #8
Hey @varunKT001, will the below footer work? I am facing an issue while selecting the icons from react-icons.

![image](https://user-images.githubusercontent.com/59647563/156808224-d99c04ee-77aa-4403-b517-9ccdfd7db1a9.png)

[2022-03-04 17:15] varunKT001 commented on #8
What issues?

Since the whole project uses react-icons only, I don't think there would be any issue while using it 😕

But still you are facing some issues, you can ping me in TomperWear discord channel and we'll discuss it there 👍

[2022-03-04 17:29] Abhinav0909 commented on #6
hey sorry for the delay can i deliver the issue by tommorow evening.I am working on it.There is a network issue here.Again sorry for delay

[2022-03-04 17:34] Abhinav0909 commented on #6
Right now I can't do npm start.The answer to that problem statement is to delete node modules which is given to me.

[2022-03-04 17:39] varunKT001 commented on #6
Sure, take your time 👍

[2022-03-04 17:42] varunKT001 commented on #6
Okay, try that. If still there is problem, you can ping me on TomperWear discord channel, I'll look into that 👍

[2022-03-04 18:02] Abhinav0909 commented on #6
could you provide me with discord server link so that I can talk to you

[2022-03-04 18:10] varunKT001 commented on #6
You are a participant of GSSoC'22 right?

[2022-03-04 18:13] Abhinav0909 commented on #6
yes

[2022-03-04 18:13] varunKT001 commented on #6
Then you should have got the discord invitation link in your selection mail.

[2022-03-04 18:14] Abhinav0909 commented on #6
ok,

[2022-03-04 18:31] Abhinav0909 commented on #6
I have joined discord but is there any specific voice channels made for you or where can I have talk with you.It is a little bit confusing since it's first time experience.I couldn't figure out .

[2022-03-04 18:35] varunKT001 commented on #6
You can go to the self-rules channel, and on scrolling down, you'll find TomperWear role. React on it to unlock the TomperWear channel.

[2022-03-04 19:40] Shubham29012001 opened #26 "Title: Compress Images for Better Page Speed and User Experience"
### Describe your issue.

Since I was working on another issue of creating a better footer, I noticed that it takes lots of time to reload the site due to extreme high-quality images on the page. Both of the images on Frontpage take around 9 MB in size. It's a huge size for images as it will hamper the user experience while surfing the site.

We can compress both images so that they will load fast

[2022-03-05 03:28] varunKT001 commented on #26
Nice idea @Shubham29012001 👍,
I'll assign you this issue once your previous pull request is merged, as you need to update your fork for this one or you'll face another merge conflict 😕

[2022-03-05 07:43] #8 closed

[2022-03-05 07:44] Shubham29012001 commented on #26
Hey @varunKT001, can I now work on it since my previous commit has been merged?

[2022-03-05 07:47] varunKT001 commented on #26
Ya sure 👍

[2022-03-05 07:52] varunKT001 commented on #26
Also, in your previous pull request, I just noticed that you have done all the changes directly in your main branch. Make sure this time to checkout to a different branch, and make the pull request from that branch.
If you do this, then in case of any mess up, you won't tamper with your main branch. Otherwise, you would need to delete your previous fork and fork it again or perform a hard reset (v

[2022-03-05 07:56] Shubham29012001 commented on #26
Hey @varunKT001, I am sorry I just saw your message now. No issue I will create a new branch and add those changes and create a new pull request for it.

[2022-03-05 08:02] varunKT001 commented on #26
Its okay for now, but try to do it in future 👍

[2022-03-05 09:59] #26 closed

[2022-03-05 10:00] varunKT001 commented on #14
@Neha9849 Any updates?

[2022-03-05 10:01] varunKT001 commented on #12
@sulogna2001 Any updates?

[2022-03-05 10:01] varunKT001 commented on #10
@singhkunal01 Any updates?

[2022-03-05 10:15] Shubham29012001 opened #28 "Feature Request: Zoom in Effect to See Particular Product in Detail"
### Is your feature request related to a problem? Please describe.

Users would love to watch more detailed images by hovering them on the image. The same feature is available on different e-commerce applications where a user can hover on a product image to see it in detail. I think it would enrich the user experience.

![image](https://user-images.githubusercontent.com/59647563/156878839-f16999f8

[2022-03-05 10:18] sulogna2001 commented on #12
@varunKT001  working on it

[2022-03-05 10:37] varunKT001 commented on #12
@sulogna2001 Great 👍

[2022-03-05 10:48] varunKT001 commented on #28
Great idea @Shubham29012001 🚀

You can work on it 👍

Make sure the UI you implement for this, blends nicely with the current theme 👍

If you are using `VS Code`, make sure you download the `prettier` extension. Also, from the settings, enable, `format on save` and `format on paste`. Most of the contributors don't format the files properly and it deteriorates the consistency of the current structur

[2022-03-05 11:29] suman-shah opened #29 "Feature Request: Social media icons"
### Is your feature request related to a problem? Please describe.

If we add some attractive social media icons then it will look great

### Describe the solution you'd like.

I want to take this issue and add social media icons on footer of the page

### Additional context (if any)

I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 12:12] varunKT001 commented on #29
Hey @suman-shah 👋
Can put some screenshots of the social media icons you are talking about?

[2022-03-05 13:13] Shubham29012001 opened #30 "Bug: Shipping Address Page Missing Out Certain Checks"
### What happened?

While entering the Shipping address, certain checks like Phone Number check (10-12 digit number) and Zip Code should allow only Numeric values are missing out.

![image](https://user-images.githubusercontent.com/59647563/156884452-35049b28-490b-4f8b-b03e-336ed28a220a.png)

### How can we reproduce this bug?

1. Login with the test credentials
2. Add some products to the cart
3.

[2022-03-05 13:27] varunKT001 commented on #30
Hey @Shubham29012001 👋
There is a check for a phone number. You will get an error pop-up if the phone number you entered doesn't have 10 digits. Also, since it's a number input, no alphabets are allowed in it.

For the zip code, yes, there is no check.

I regex test would fix the issue 👍

Would you like to work upon this now or after completing the other issue you are assigned?

[2022-03-05 13:29] Shubham29012001 commented on #30
I would like to first work on this issue as I guess it will not take much time and I noticed that in the phone number block, the 'e' character is getting entered while the rest are not.

[2022-03-05 13:36] varunKT001 commented on #30
Okay 👍

[2022-03-05 14:38] suman-shah commented on #29
here are some sample icons for social handles

![image](https://user-images.githubusercontent.com/61034696/156887973-5fb33545-a353-4b13-8df2-2480b2c8ecf6.png)

[2022-03-05 14:46] varunKT001 commented on #29
These are the same icons we have now. Also, since the footer is dark, they won't look good as they are looking now 😕

[2022-03-05 15:04] varunKT001 opened #31 "Feature Request: Change footer icon colors and apply hover effect on footer links"
### Is your feature request related to a problem? Please describe.

Currently, we can see the dark footer background through the icons, which looks odd 😕

![image](https://user-images.githubusercontent.com/83509023/156888944-07424031-127a-4a07-874b-982a94fff9fe.png)

### Describe the solution you'd like.

- Change the icon color of all footer icons to `var(--clr-primary-5)`
- Change the text color

[2022-03-05 15:06] sagnik2001 commented on #31
Hey @varunKT001 can you assign me this issue under GSSoc 22'

[2022-03-05 15:07] varunKT001 commented on #31
@sagnik2001 Go for it 🚀

[2022-03-05 16:12] #31 closed

[2022-03-05 18:00] #30 closed

[2022-03-05 18:56] singhkunal01 commented on #10
sorry because of my laptop issues i am able to work now will you please give some more time so that i can ?

[2022-03-06 07:37] varunKT001 commented on #10
@singhkunal01 Okay, no problem. Try to do it soon 👍

[2022-03-06 07:38] varunKT001 commented on #6
It's already 5 days @Abhinav0909 🙁
What's the status?

[2022-03-06 07:40] Abhinav0909 commented on #6
Yeah but npm start is not happening because of comparability issues of react scripts

[2022-03-06 07:40] Abhinav0909 commented on #6
Yeah but npm start is not happening because of comparability issues of react scripts

[2022-03-06 07:42] varunKT001 commented on #6
It's working fine for me and all other contributors 🙁
I think that's an issue from your side. I assume that you won't be able to complete this soon, so I'm re-assigning the issue 👍

@sagnik2001 You want to work on this?

[2022-03-06 07:45] Abhinav0909 commented on #6
Hmm ok

[2022-03-06 07:48] sagnik2001 commented on #6
hey @varunKT001 you can assign this issue to me

[2022-03-06 08:10] varunKT001 commented on #6
Okay, assigned to you @sagnik2001 🚀

[2022-03-06 08:18] sagnik2001 commented on #6
Should I implement this feature only for login button or every button makes a request to the api

[2022-03-06 08:21] varunKT001 commented on #6
All the buttons 👍

[2022-03-06 10:14] jeevanalok opened #34 "Feature Request: Add a image magnifier"
### Is your feature request related to a problem? Please describe.

When we hover around the product to get a good look, if the image provided is not big enough then we can't notice the details .

### Describe the solution you'd like.

I want to add a magnifier which would enlarge the image when hovered over providing a clear clarity for the customer.

### Additional context (if any)

Issue is rai

[2022-03-06 10:18] varunKT001 commented on #34
Hey @jeevanalok 👋
There is already an issue regarding this feature.

[2022-03-06 10:18] #34 closed

[2022-03-06 10:19] jeevanalok commented on #34
Ok

[2022-03-06 13:21] Kumar-laxmi opened #35 "Feature Request: Make the cards Responsive"
### Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/76027425/156924895-280d4862-934f-4b68-ae09-c6cf0793004f.png)

In above image we can make the cards named - Mission, Vision and History as responsive.

### Describe the solution you'd like.

I will be installing vanilla-tilt.js file and also calling it which has many pre-defined js

[2022-03-06 13:32] varunKT001 commented on #35
Hey @Kumar-laxmi 👋

The cards are responsive for all screen sizes, you can test them using the dev tools.

Also, can you share some examples of what type of dynamic card view you are talking about?

[2022-03-06 13:34] Kumar-laxmi commented on #35
https://micku7zu.github.io/vanilla-tilt.js/

Have a look at the above website

[2022-03-06 13:34] Kumar-laxmi commented on #35
The cards could be made dynamic in the ways shown in the website

[2022-03-06 13:42] varunKT001 commented on #35
@Kumar-laxmi No doubt that the cards look stunning, but don't you think it would an overkill if we use those effects for simple cards that we have?

If you want to implement that, you can go ahead. But I can't guarantee that your change will get merged. To get merged, it should look good on TomperWear. If they didn't look good or didn't blend well with the overall website, I won't merge that.

So,

[2022-03-06 13:45] Kumar-laxmi commented on #35
Look I won't give a tilt effect but a little of zooming effect when we hover our mouse over it.

[2022-03-06 13:46] Kumar-laxmi commented on #35
Look initally it make look weird but if we slowly apply to all in other way around, it will look good

[2022-03-06 13:47] Kumar-laxmi commented on #35
More over the website itself is based on ecommerce and as far as I know, ecommerce website mostly have these stunning effects to draw our attention on

[2022-03-06 13:48] Kumar-laxmi commented on #35
I can only work if you want or else I can close this issue

[2022-03-06 13:48] varunKT001 commented on #35
Okay, you can go ahead with that 🚀
But to get your change get merged, it should look good 👍

[2022-03-06 13:49] Kumar-laxmi commented on #35
yeah obviously

[2022-03-06 13:49] Kumar-laxmi commented on #35
thanks

[2022-03-06 13:49] varunKT001 commented on #35
You can start working on this 👍

[2022-03-06 15:04] sagnik2001 commented on #6
Hey @varunKT001, while implementing a loading spinner what I found is that you used the same state loader for every field which on changing makes a loader in every button so should I make a separate loading state, or is this ok??
![Screenshot from 2022-03-06 20-19-41](https://user-images.githubusercontent.com/74464019/156928884-26b94e69-0572-41f4-a411-26cc85b70096.png)

[2022-03-06 15:09] varunKT001 commented on #6
@sagnik2001 It's fine, you can leave it like that 👍

[2022-03-06 17:52] alceil commented on #24
Can i work on this issue @varunKT001

[2022-03-06 17:58] PM-00-STAR commented on #24
i am working on this

[2022-03-06 18:16] varunKT001 commented on #24
@PM-00-STAR You are not yet assigned 🙂 so why are you working on it 🙂

[2022-03-06 18:18] #24 closed

[2022-03-06 18:31] PM-00-STAR commented on #24
Actually i am interested in frontend issues , if you find relevant issue to this project then please let me know i am willing to contribute in this project

[2022-03-06 19:06] varunKT001 commented on #24
@PM-00-STAR Sure, whenever I make any frontend-related issue, you can comment on that issue that you're willing to work on it, I'll assign you that. But make sure you comment first because I'll assign on first come first serve basis.

Also if you find some point of improvements, you can create an issue 👍

[2022-03-06 20:10] PM-00-STAR commented on #24
Ok

On Mon, Mar 7, 2022, 00:36 Varun Tiwari ***@***.***> wrote:

[2022-03-07 05:25] #6 closed

[2022-03-07 10:12] Siddhesh777 commented on #10
Hey @varunKT001 😅
Can I do this task ?
If yes please assign this task to me

[2022-03-07 10:30] varunKT001 commented on #10
@Siddhesh777 Currently it's assigned to @singhkunal01 😅
If he gets un-assigned, I'll assign it to you 👍

[2022-03-07 10:31] #29 closed

[2022-03-07 11:12] Siddhesh777 commented on #10
fine @varunKT001  😅
I have already implemented the functionality

![abc](https://user-images.githubusercontent.com/77476772/157020489-9bf4312f-f7c7-4db7-aaa7-4d825239b4ef.png)

if you wish to merge just mention me here😅

[2022-03-07 11:15] varunKT001 commented on #10
@Siddhesh777 I can't do that right now 😅
As I told you, if I ever un-assign this issue, I'll assign it to you, and then you make a pull request 👍

[2022-03-07 14:33] singhkunal01 commented on #10
no problem @varunKT001 this guy put his efforts you can merge i have no problem i have some problem in my laptop and may be it would take some time so we can appreciate @Siddhesh777 work .

[2022-03-07 16:22] varunKT001 commented on #10
Okay, I'll un-assign you then @singhkunal01

@Siddhesh777 You can work upon it 👍

[2022-03-09 05:18] Nikhil-Sharma1 opened #39 "Feature Request:"
### Is your feature request related to a problem? Please describe.

Hi
While going through the Home page and Product page, I find out that there is no back-to -top button on these pages of the website.

I feel it is a serious feature which needs to be implemented as soon as possible.
I want to work on it and add a back-to-top button using my frontend skills under the GSSoC22 contribution.
![Screen

[2022-03-09 06:58] varunKT001 commented on #39
@Nikhil-Sharma1 Good idea 👍

- You can implement a `back to top` button in the `homepage` and the `products page`.
 - For icons, you have to use [react-icons](https://react-icons.github.io/react-icons/).
 - Make sure that the UI implemented for this, blends nicely with the current setup.

You can go ahead and work on it 🚀

[2022-03-09 07:00] Nikhil-Sharma1 commented on #39
Thank you

[2022-03-10 13:49] #10 closed

[2022-03-10 16:48] Siddhesh777 opened #41 "Feature Request: Existing password needed while changing password"
### Is your feature request related to a problem? Please describe.

I will never like that someone changes password of my account.
In /profile route there is a provision for changing the password.
To change the current password, user must enter the existing password, If it doesn't match then password should not change.

![issue](https://user-images.githubusercontent.com/77476772/157712933-83396110

[2022-03-11 07:51] varunKT001 commented on #41
@Siddhesh777 Good idea 🚀

But that will require some firebase stuff, and I hope you are comfortable with firebase.

If you need any help, ping me on the TomperWear discord channel 👍

[2022-03-12 02:53] Siddhesh777 commented on #41
hey @varunKT001 😅
Just needed small help.
I learned all the basic stuffs of firebase but I am unable to know how can we compare the the existing password of currentUser.
Can you help me for this?😅

[2022-03-12 06:27] varunKT001 commented on #41
@Siddhesh777
There is no specific method just to compare passwords. What you can do is to use `reauthenticateWithCredential` method provided by firebase. For this, you have to provide the user's email (which is already in the `currentUser` state) and the current password. If the authentication was successful, you can update the password, otherwise, you can show an error message 👍

Refer to firebas

[2022-03-12 06:30] Siddhesh777 commented on #41
Thank you very much @varunKT001

[2022-03-12 12:59] sagnik2001 commented on #14
Hey @varunKT001 , is this issue available??

[2022-03-12 13:07] varunKT001 commented on #14
Hmm, since she is not responding, you go ahead with the issue @sagnik2001 🚀

[2022-03-12 14:31] sagnik2001 commented on #14
Hey @varunKT001, what will be the lower limit price a user will be able to have according to you ??

[2022-03-12 17:03] varunKT001 commented on #14
@sagnik2001
The least price from all the products will be the lower limit 👍

[2022-03-12 17:17] sagnik2001 commented on #14
Okay,got it

[2022-03-13 12:17] varunKT001 commented on #12
@sulogna2001
Are you still working on it? 🙂
It's 11 days 🙂

[2022-03-13 17:09] impriyanshu-in commented on #14
hey, @varunKT001 are the issues resolved?

[2022-03-14 04:05] #14 closed

[2022-03-14 04:07] varunKT001 commented on #14
@impriyanshu-in Yes 😅

[2022-03-14 04:47] sulogna2001 commented on #12
Hey @varunKT001 ,sorry my exams are going on give me today's time, I will make a PR

[2022-03-14 06:42] varunKT001 commented on #12
@sulogna2001
If you had any exams, you should have told me 😕
Anyways, I'm giving you 4 days' time (till Holi).

[2022-03-14 07:02] sulogna2001 commented on #12
It will be done by today. Thanks for the consideration

[2022-03-15 06:37] Siddhesh777 commented on #41
hey @varunKT001
I am trying to solve this issue from long.
But I am getting following error,Can you please guide me how can I correct it?
![1](https://user-images.githubusercontent.com/77476772/158320777-7412ea7e-b9a3-4482-a3e9-c0c4fc00c19c.png)
![2](https://user-images.githubusercontent.com/77476772/158320816-e9626718-44fb-470a-a646-04b802f65987.png)

[2022-03-15 07:12] Siddhesh777 opened #43 "Bug: Logging in should be required before filling the cart"
### What happened?

I think before starting feeling the cart, the user must log in.
Because it can happen that some user just surfed the website and added items to the cart but didn't purchase/log in.
Then when another person will log in, then those previous items will get added to his cart.

### How can we reproduce this bug?

We can keep a button of login in /cart if user isn't logged in
![7](ht

[2022-03-15 07:45] varunKT001 commented on #41
@Siddhesh777
Before moving to the error:

- As the project is structured, all the main logic should reside in the `context`. You have to update the `updateUserProfilePassword` function in `src/context/user_context.js`. In the `src/pages/ProfilePage/index.js` you have to only catch the errors (if any) and show the toast 👍
- Also, instead of `auth.currentUser`, you can use the `currentUser` state wh

[2022-03-15 07:54] varunKT001 commented on #43
@Siddhesh777
If you visit some other e-commerce platforms, you can see that they allow you to fill your cart even if you are not logged in. Also, the cart data is stored in `LocalStorage` and doesn't require any API call to the TomperWear Server, it won't create any problem even if we allow users to add to the cart without logging in 👍

So I don't think there is an issue with this 😕

[2022-03-15 07:54] #43 closed

[2022-03-15 09:03] Siddhesh777 commented on #43
yeah alright @varunKT001 👍🏻

[2022-03-18 11:51] Siddhesh777 opened #45 "Removing routes display in about, checkout and products pages."
### Describe your issue.

I think there is no need of displaying a current page route in about, products and checkout page.
We have not displayed the route in /orders page and it is looking nice but in case of /about, /products and /checkout pages, we are displaying the route in too much big font which is grabbing attention of user.
Instead we can give some background colour to our Navbar. It will

[2022-03-18 11:53] Siddhesh777 commented on #39
@Nikhil-Sharma1
Are you working on this issue?
If you allow, I can go ahead with this.

[2022-03-18 11:55] Nikhil-Sharma1 commented on #39
No bro, Iam working on it
Actually this week I have Ca's and placement tests
That's why there is delay
I will done the work till tomorrow
Sorry for the delay.

On Fri, Mar 18, 2022, 17:23 Siddhesh Jain ***@***.***> wrote:

[2022-03-18 15:09] Devika-Sahu opened #46 "Bug: Improper error message at forgot password place"
### What happened?

User must get a proper error
message like
" USER NOT REGISTERED" while
submitting an invalid email id at
forgot password page but they get a very bad error message.
![image](https://user-images.githubusercontent.com/75083536/159028846-20c0ad31-ea60-43b5-b47d-346feac3b2a9.png)

### How can we reproduce this bug?

It happens when user enters an email address that is not registere

[2022-03-18 15:17] Devika-Sahu opened #47 "Feature Request: User must be able to click on product title at products page and go to product details page ."
### Is your feature request related to a problem? Please describe.

It is frustrating for a user when he is not able to access the product details page to confirm the details of the products present in his cart. Users must be given  the functionality to access product details from the cart page.

<img width="960" alt="image" src="https://user-images.githubusercontent.com/75083536/159030271-87cf285

[2022-03-18 15:22] Devika-Sahu opened #48 "Feature Request: User must not be able to write the review without buying it once."
### Is your feature request related to a problem? Please describe.

It will hamper the sellers if users start posting bad reviews about their products even without buying it once.

![Screenshot (955)](https://user-images.githubusercontent.com/75083536/159031328-667388cc-f227-4d63-8c90-625f4dbb454b.png)

### Describe the solution you'd like.

Before publishing a review of the product it should be c

[2022-03-19 07:41] shikhar13012001 opened #49 "Feature Request: Adding invoice pdf"
### Is your feature request related to a problem? Please describe.

I would like to have the ability to download invoice for purchases.

### Describe the solution you'd like.

Adding button in the orders page for individual purchases  to download invoice

### Additional context (if any)

_No response_

[2022-03-19 07:43] varunKT001 commented on #49
@shikhar13012001 Good Idea 🚀

[2022-03-19 07:44] shikhar13012001 commented on #49
Thanks!!! @varunKT001

[2022-03-19 07:46] varunKT001 commented on #45
@Siddhesh777
You don't have any orders, that's why Breadcrumbs are not shown. Order something and then go to the orders page, you'll see the breadcrumbs 😅
Also, the change you are asking for would be a very breaking change. Also, as I can visualize, I won't look good actually, because of the way the app is constructed 😅
I'm sorry, I don't think this would work,  😕

[2022-03-19 07:46] #45 closed

[2022-03-19 07:49] varunKT001 commented on #46
@Devika-Sahu This is a valid issue.
But, I can see you have created 3 issues and all of them are valid issues. Also, at a time you can work on only one issue, so which one do you want to work on right now?

[2022-03-19 10:41] #41 closed

[2022-03-19 11:11] Siddhesh777 opened #50 "Feature Request: Toggle Password visibility while changing the password."
### Is your feature request related to a problem? Please describe.

It is necessary for the user to know what password he/she has entered.
For this, there must be a button which toggles its visibility.

![1](https://user-images.githubusercontent.com/77476772/159118635-081ce47d-5067-405c-a895-23688a4906ee.png)

### Describe the solution you'd like.

We can use react hook useState for implementing t

[2022-03-19 16:01] varunKT001 commented on #50
@Siddhesh777 Go ahead 👍

[2022-03-21 08:00] #50 closed

[2022-03-21 12:19] varunKT001 commented on #28
@Shubham29012001
Any updates on this?

[2022-03-21 14:56] Devika-Sahu commented on #46
@varunKT001 I would like to work on this issue right now.

[2022-03-21 14:57] Devika-Sahu commented on #46
/assign

[2022-03-21 15:37] varunKT001 commented on #46
@Devika-Sahu

First of all

you cannot self-assign 😅

Now, coming to the issue. Not only for the `forgot-password`, but you also have to solve this error for all the other parts too that handle `auth`.

So what you have to do is to create a centralized firebase error handler that handles all types of firebase auth errors. you can create the error handler file in the `src/utils` directory.

I'm ass

[2022-03-21 17:52] Shubham29012001 commented on #28
Hey @varunKT001, sorry for it but I am going to work on it from today. My exams were going on and have been over now.

[2022-03-21 19:07] varunKT001 commented on #28
@Shubham29012001 Great 👍

[2022-03-23 08:20] Siddhesh777 opened #52 "Feature Request: Adding Dark Mode"
### Is your feature request related to a problem? Please describe.

So many users have habit of using Dark mode.
So its very uncomfortable for them to use light mode.

### Describe the solution you'd like.

We can create a button on top-right corner which will toggle the theme of our website.

### Additional context (if any)

I am Contributor at GSSOC'22.
Please assign this task to me.

[2022-03-23 15:39] #52 closed

[2022-03-27 18:27] Siddhesh777 commented on #39
hey @varunKT001
I am interested to work on this issue.
If possible please assign this to me.

[2022-03-27 18:28] Siddhesh777 commented on #47
I can work on this @varunKT001 .
If possible please assign this issue to me.

[2022-03-27 19:39] varunKT001 commented on #47
Since @Devika-Sahu has created this issue, I can't assign this to you 😕

She is working on another issue that's why this is one is unassigned 👍

[2022-03-27 19:40] varunKT001 commented on #39
@Siddhesh777

The PR for this issue has already been created. Although I haven't reviewed it 😅 (I'll do it soon)

[2022-03-30 09:34] Prikshit-anthal opened #53 "Title: Responsiveness issue on Home/ Cart page"
### Describe your issue.

Delete button getting out of screen width when an item is added to cart.

### Screenshots (if applicable).

![Screenshot from 2022-03-30 15-01-28](https://user-images.githubusercontent.com/79476164/160800252-b8f24c80-0ace-41a5-8c5a-bfad4c3476bb.png)

### Additional context (if any)

Decreasing Font size for small screen size will fix this issue.

[2022-03-30 09:35] Prikshit-anthal commented on #53
I'm GSSOC'22 participant, kindly assign me this issue.

[2022-03-30 09:42] Prikshit-anthal opened #54 "Bug: When nav-bar is opened in small screen, user can still scroll down the homepage hidden behind navbar."
### What happened?

I opened nav-bar in my mobile, but was able to scroll down homepage directly from opened nav-bar.

### How can we reproduce this bug?

Open this project on your mobile. At homepage open nav-bar, then try scrolling. Close nav-bar you will notice homepage has scrolled down.

![Screenshot from 2022-03-30 15-05-47](https://user-images.githubusercontent.com/79476164/160801212-d112cb

[2022-03-30 09:44] Prikshit-anthal commented on #54
I'm GSSOC'22 participant. Kindly,assign this issue to me.

[2022-03-30 09:45] varunKT001 commented on #53
Hi @Prikshit-anthal

I didn't notice that at first. Well, I'm glad you found it 😅

You can work upon it 🚀

[2022-03-30 09:49] varunKT001 commented on #54
Hi @Prikshit-anthal

Yeah, that's a bug, which I didn't notice at first 😅

You already have issue #53 assigned to you. I'm assigning you this one also, but make a separate pull requests for both the issues 👍

[2022-03-30 09:53] varunKT001 commented on #35
@Kumar-laxmi
I don't think you are still working on it, It's 24 days 🙂

[2022-03-30 09:53] varunKT001 commented on #46
@Devika-Sahu Any updates?

[2022-03-30 09:54] varunKT001 commented on #28
@Shubham29012001 Any updates?

[2022-03-30 09:55] Prikshit-anthal commented on #54
@varunKT001 I just wanted to know if you are storing user cart data on backend or not? Because mine is not storing.

[2022-03-30 09:59] varunKT001 commented on #54
@Prikshit-anthal
Cart data is stored in the LocalStorage in your browser. After you logout, the cart is cleared 😅

[2022-03-30 09:59] Kumar-laxmi commented on #35
Oh My God I totally missed it, I will do by today night.

Really sorry for that

[2022-03-30 10:03] Prikshit-anthal commented on #54
Are you ok with firebase as backend, as you have used firebase Auth too. I am well versed in firebase i can contribute in it.

[2022-03-30 10:10] varunKT001 commented on #35
@Kumar-laxmi Okay 👍

[2022-03-30 10:13] varunKT001 commented on #54
@Prikshit-anthal
NO
Keep that as it is. Firebase is just for the auth purpose so that we don't have to do all that on the backend. If you want to contribute to the Backend, you can go to the backend repository of TomperWear 👍

[2022-03-30 12:37] Aslam-13 commented on #12
Hi,
pls assign this to me.

[2022-03-30 12:38] varunKT001 commented on #12
@Aslam-13
Assigned to you 🚀

[2022-03-30 13:15] #35 closed

[2022-03-30 14:58] Devika-Sahu commented on #46
@varunKT001 I have completed it approximately. Just have to make a few changes. I will upload the new code by day after tomorrow.

[2022-04-01 04:44] ayush25102001 opened #56 "Backend Routes and Models."
### Describe your issue.

I will create a userModel according to the details in the signUp form for now later more fields can be added, accordingly the entries will be added to the user colletion.
Then I will also create login and register API endpoints at the backend where I will also connect to the database(locally for now).
I wish to work with the backend part.

Participant under Gssoc'22.

###

[2022-04-01 05:11] varunKT001 commented on #56
@ayush25102001
The authentication part for the frontend is handled by firebase, so no need for custom authentication.

[2022-04-01 05:11] #56 closed

[2022-04-02 06:19] Devika-Sahu commented on #47
@varunKT001 I have completed the previous task. Can I start working on this now?

[2022-04-02 06:24] varunKT001 commented on #47
Wait for it to merge, I'll assign you this issue once your pull request is merged 👍

[2022-04-03 15:34] Shubham29012001 commented on #28
Hey @varunKT001, I am facing some issues while creating the mentioned feature. I am new to React and therefore it's taking more time for me to understand and apply the feature. Hope it will not create an issue. I am trying my best!!!

[2022-04-03 16:27] varunKT001 commented on #28
@Shubham29012001
No issues, take your time 👍

[2022-04-03 18:56] Sulagna-Dutta-Roy opened #60 "Feature Request: Customize the login page"
### Is your feature request related to a problem? Please describe.

I want to customize the login page and will be adding some hover effects etc.

### Describe the solution you'd like.

NA

### Additional context (if any)

Na

[2022-04-04 09:49] Aslam-13 commented on #12
sorry sir,
 Not able to make reducer and  context

[2022-04-04 16:45] varunKT001 commented on #12
@Aslam-13
No issues 👍

[2022-04-09 12:21] #53 closed

[2022-04-09 12:28] #54 closed

[2022-04-10 06:35] Shubham29012001 commented on #28
Hey @varunKT001, I have built the functionality and it's working perfectly but the problem is we need to force install the dependency react-image-magnify package. The package is working completely well.

![image](https://user-images.githubusercontent.com/59647563/162605652-aa0ae83c-c369-4de3-9b2b-8d451d944e13.png)

[2022-04-11 11:11] SaachiKaup commented on #12
Hello @varunKT001!
The project looks fantastic and I would love to contribute. Is it possible for me to work on this issue?

[2022-04-13 07:18] #60 closed

[2022-04-22 09:10] TG922 opened #62 "Feature Request: Enhancing style of scroll bar"
### Is your feature request related to a problem? Please describe.

The scroll bar doesn't  match the theme of the website

### Describe the solution you'd like.

I would like to add customized scroll bar for this website

### Additional context (if any)

_No response_

[2022-04-22 09:44] varunKT001 commented on #62
@TG922 Go ahead 🚀

[2022-04-25 05:47] mayank-del commented on #49
Can i work under this issue under gssoc22

[2022-04-28 06:43] dasgupta002 opened #63 "Implement a price filter but with a price range."
### Is your feature request related to a problem? Please describe.

The price filter currently has only a slider with  a upper price tag, but rather that could be a filter with a range just like on Amazon making it easy to search by the end users.

### Describe the solution you'd like.

![bug](https://user-images.githubusercontent.com/62376775/165692826-de4fdfb1-d193-49e9-b43a-686e3e93e588.png)

#

[2022-04-28 10:04] varunKT001 commented on #63
@dasgupta002 Good idea 👍
You can start working on this 🚀

Just keep in mind that the front end of your implementation should blend with the current theme.

[2022-04-29 12:38] varunKT001 commented on #49
@mayank-del You can work on this 🚀

[2022-05-21 13:24] #28 closed

[2022-05-21 18:58] Shubham29012001 commented on #49
Hey @varunKT001, any updates on this issue? I would like to work on this issue.

[2022-05-21 18:59] varunKT001 commented on #49
@Shubham29012001 Since mayank seems inactive, you can work on it 👍

[2022-05-23 19:10] Anirban-1490 commented on #63
@varunKT001 can i work on it?

[2022-05-24 05:50] the-illuminatus commented on #62
can i work on this issue?

[2022-05-24 05:52] the-illuminatus commented on #49
can i work on this issue?

[2022-05-24 11:43] varunKT001 commented on #49
Hey @the-illuminatus 👋
@Shubham29012001 is currently working on this, you can look out for some other issues 👍

[2022-05-24 11:44] varunKT001 commented on #62
Since @TG922 seems inactive, you can go ahead and work on this @the-illuminatus 👍

[2022-05-25 05:47] varunKT001 commented on #12
@SaachiKaup You can work on this 👍

[2022-05-25 06:51] SaachiKaup commented on #12
Thank you @varunKT001!

[2022-05-27 10:19] SHRUTI-SINGH16 commented on #39
I would like to work on this issue. Please assign me as a GSSOC 2022 Contributor.

[2022-05-27 10:26] varunKT001 commented on #39
@SHRUTI-SINGH16 You can work on it 👍

[2022-06-03 06:45] varunKT001 commented on #12
@SaachiKaup No problem 👍

[2022-10-02 09:27] arun-kushwaha04 commented on #49
@varunKT001 can i work on this issue ?

[2022-10-02 09:53] arun-kushwaha04 opened #64 "Title: Updating react router to v6"
### Describe your issue.

Currently the project uses react router v5, i propose to update it to latest v6.

### Screenshots (if applicable).

_No response_

### Additional context (if any)

_No response_

[2022-10-02 09:54] varunKT001 commented on #64
@arun-kushwaha04 Go ahead 🚀

[2022-10-02 10:17] codeboyfriend commented on #62
Can I work on it??

[2022-10-02 10:19] varunKT001 commented on #62
@codeboyfriend Go ahead 🚀

[2022-10-02 10:36] codeboyfriend commented on #62
Aiit, I'll make a PR soon

[2022-10-02 20:47] varunKT001 commented on #62
@codeboyfriend I'm sorry that this repository is no longer a part of Hacktoberfest.

For Hacktoberfest'22, I've decided to go ahead with a more user-friendly repository for beginners.

Please check out the repository. Here is the link:
https://github.com/varunKT001/awesome-javascript-projects

[2022-10-02 20:47] varunKT001 commented on #64
@arun-kushwaha04 I'm sorry that this repository is no longer a part of Hacktoberfest.

For Hacktoberfest'22, I've decided to go ahead with a more user-friendly repository for beginners.

Please check out the repository. Here is the link:
https://github.com/varunKT001/awesome-javascript-projects

[2022-10-11 07:51] codeboyfriend commented on #62
I'll start working on it right away. Will make a pull request soon

On Sun, Oct 2, 2022, 11:19 AM Varun Tiwari ***@***.***> wrote: